header {

    background-image: url("../Obrazy/nowetło.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    -webkit-opacity: brightness(0.4);
    border-radius: 20px 20px 20px 20px;
}

header p {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    position: relative;
    color: black;
    padding-top: 150px;
}