.naglowekStrony {
    position: fixed;
    width: 1100px;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid #777;
    -webkit-box-shadow: 0px 3px 3px 0px #777;
    z-index: 500;
}
.naglowekStrony .logo img {
    padding: 14px;
}
.naglowekStrony .nazwa {
    font-size: 20px;
    font-weight: bold;
    height: 100px;
}
.podklad {
    height: 100px;
    opacity: 0;
}
.nazwa div {
    padding-top: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header p {
    width: 1100px;
    position: absolute;
    padding-top: 30px;
    text-align: center;
    font-size: 80px;
    z-index: 200;
}

