header {
    background-color: yellowgreen;
    background-image: url("../Obrazy/nowetło.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    -webkit-opacity: brightness(0.4);
}

header p {
    text-align: center;
    font-style: italic;
    font-size: 150px;
    position: relative;
    color: black;
}