







.nawigacja {
    /*margin-left: 20px;*/
    /*width: 330px;*/
    /*display: inline;*/
    /*float: left;*/
}

/*.nawigacja div {*/
    /*!*display: inline;*!*/
    /*width: 80px;*/
    /*padding: 10px;*/
    /*margin: 0px;*/
    /*border: 1px solid rgb(0, 0, 255);*/
    /*background-color: lightgreen;*/
    /*float: left;*/
/*}*/

.aktulnosci{
    float:left;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 255);
    background-color: lightgreen
}

.nbp{
    float:left;
    margin-left: 1px;
    margin-top: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 0, 255);
    background-color: lightgreen
}

.kontakt{
    float:left;
    margin-left: 1px;
    margin-top: 5px;
    border: 2px solid rgb(0, 0, 255);
    background-color: lightgreen;
    padding: 5px;
}

.cl{
 clear:left;

}

.footer {
    font-family: Calibri;
    font-size: 14px;
    text-decoration: overline;
    float: left;
    padding: 25px;
}

/* To jest sekcja Ola */
/* Koniec sekcji Ola */

/* To jest sekcja Aga */



.footer2 {
    font-family: Calibri;
    font-size: 14px;
    text-decoration: overline;
    float: right;
    padding: 20px;

}