body {
    background-position: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    color: black;
    font-weight: 500;
}

.content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.95);
}

.left {float: left;}

.right {float: right;}

.clear {clear: both;}

#game {
    display: none;
    width: 640px;
    height: 640px;
}
#game div {
    width: 80px;
    height: 80px;
    float: left;
    display: inline-block;
    text-align: center;
}





