#main_content {
    background-color: black;
    color: white;
    font-family: Calibri, Arial, sans-serif;
}

.function {
    align-content: center;
    width: 48%;
    display: inline-block;
}

.media div {
    display: inline-block;
    align-items: center;
    width: 33%;

}

.left {float: left;}

.right {float: right;}

.clear {clear: both;}

.function img:hover {
    border: 10px solid white;
    border-radius: 10%;
}
