#main_content {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#main_content .bloki {
    vertical-align: middle;
    height: 550px;
}
.dodatki {
    width: 220px;
}
.dodatki img {
    width: 64px;
    height: 64px;
    padding: 20px;
    border-bottom: 2px solid grey;
    margin-bottom: 5px;
    margin-top: 5px;
}
.dodatki img:hover {
    background-color: black;
}
.dodatki figcaption {
    font-size: 12px;
    letter-spacing: 0em;
    width: 102px;
    text-align: center;
}
.dodatki figure {
    width: 102px;
    float: left;
    margin: 0px;
}
.dodatki a {
    color: black;
    text-decoration: none;
}
.funkcja figure {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.funkcja img {
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 0px;
}

.funkcja figcaption {
    background-image: url("../Obrazy/Marcin/money1.png");
    padding-left: 30px;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-left: 10px;
}

.funkcja a {
    color: black;
    text-decoration: none;
}

.funkcja {
    width: 420px;
}

.funkcje {
    width: 860px;
}

.funkcje figure:hover {
    opacity: 0.7;
}

.left {float: left;}

.right {float: right;}

.clear {clear: both;}