.footer {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;


}

a {
    color: white;
}
a:hover {
    color: red;

}

.up{
    background-color: white;
    text-align: center;
    color: black;
    margin-top: 80px;
}
.gora {
    color: black;
}

.media{
    margin-top: 20px;
}


.slajder {
    background-image: url("../Obrazy/tlo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    animation-name:ola ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes ola {
    33%{background-image: url("../Obrazy/tlo.jpg"); }
    66%{background-image: url("../Obrazy/nowetło.jpg");}
    99%{background-image: url("../Obrazy/logo3.jpg");}
}



