.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-style: italic;

}

a {
    color: #ffffff;
}

a:hover {
    color: red;

}

