.footer {
    text-align: center;
}
footer a:hover {
    color: red;
}
.gora {
    color: black;
}
.media {
    margin-top: 20px;
}
.slajder {
    background-image: url("../Obrazy/Zajawka/Kalkulator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    animation-name: ola;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes ola {
    25% {
        background-image: url("../Obrazy/Zajawka/Ludzie.jpg");
    }
    50% {
        background-image: url("../Obrazy/Zajawka/Lokalizator.jpg");
    }
    75% {
        background-image: url("../Obrazy/Zajawka/Srednia.jpg");
    }
    100% {
        background-image: url("../Obrazy/Zajawka/Kalkulator.jpg");
    }
}
.kontakt {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.up {
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.stopka {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
.namiary {
    width: 333px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    margin-top: 5px;
    vertical-align: top;
}
.namiary img {
    width: 32px;
    height: 32px;
}






