body {
    background-color: aquamarine;
    background-position: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1em;
    color: white;
    font-weight: 500;
}
.left {float: left;}

.right {float: right;}

.clear {clear: both;}
#othelloBG {
    width: 1200px;
    margin: auto;
    height: 700px;
    background-color: darkblue;
}

#pole div {
    width: 550px;
    display: inline-block;
    background-color: #ff584c;
}

