


.nawigacja {
    float: right;

}



.nawigacja div {
    float: left;
    border-radius: 5px;
    padding: 10px;
    margin-top: 60px;
}

/*}Styles/Piotr.css:12*/

.home {
    margin-left: 20px;
    border-radius: 5px;
}

.bhome{
    color: steelblue;

}

.bhome a{
  color: steelblue;
    text-decoration: none;

}

.bhome:hover{
 color: red;

}





.cl {
    clear: both;

}

#call-to-action {
    display: none;
    float: left;
    margin: 50px;
    with: 100%;

}

.DaneKontaktowe {
    float: left;
    width: 400px;
    /*border:2px solid black;*/
}

.formularz {
    float: right;
    width: 260px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    /*margin-top: 20px;*/
}

.forma label {

    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #555555;
}

.formularz textarea, .formularz input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 25px;
    width: 245px;
}

#onas {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    /*border: 2px solid rgb(0, 0, 255);*/
}

.agnieszka {
    top: 0px;
    float: left;
    width: 400px;
}

.ola {
    float: right;
    top: 0px;

}

.marcin {
    float: left;


}

.piotr {
    float: right;


}

#onas h1{
 text-align: center;

}

.poz_onas {
    margin: 10px;
    width: 486px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #ccc;

}

.poz_onas p {
    float: left;
    margin-left: 10px;

}

.poz_onas .zdjecie {
    float: left;
    width: 50px;
    height: 50px;
    background-image: url("../Obrazy/user.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.poz_onas a{
   color: black;

}


